html {
	scroll-behavior: smooth;
}

.highlight {
	color: red;
	font-style: italic;
}

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	opacity: 1;
	overflow: hidden;
}

::-webkit-scrollbar-thumb {
	background-color: lightgrey;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bbb;
}

@media only screen and (max-width: 600px) {
	::-webkit-scrollbar {
		width: 0px;
	}

	/* Do not use overflow, this will result in weird behaviour */
	header {
		width: 100vw !important;
	}

	footer {
		width: 100vw !important;
	}

	body {
		width: 100vw !important;
	}

	.desktoponly {
		display: none;
	}
}

/* Fade effect transition */
.fade-enter-active,
.fade-leave-active {
	transition-property: opacity;
	transition-duration: 0.25s;
}

.fade-enter-active {
	transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}
