html {
  scroll-behavior: smooth;
  font-display: swap !important;
}

body {
  font-display: swap !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 18px;

  &-track {
    opacity: 1;
    overflow: hidden;
  }

  &-thumb {
    background-color: lightgrey;

    &:hover {
      background-color: #bbb;
    }
  }
}

a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #f22;
  }
}

.v-container {
  overflow: hidden;
}

.v-card {
  border-radius: 0.75rem;
}

.v-row + .v-row {
  margin: 0;
}

.vonk-programming {
  &-background {
    background-color: #333;
    color: white;
    overflow-x: hidden;

    &-gradient {
      background: linear-gradient(0deg, #333, #444, #333);
      margin-top: 0;
    }
  }
}

@media only screen and (width <= 600px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  .v-footer .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .v-toolbar {
    & > .v-toolbar__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

/* Fade effect transition */
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.2s;
}

.fade-enter-active {
  transition-delay: 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
