html {
  scroll-behavior: smooth;
  font-display: swap !important;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  opacity: 1;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

body {
  font-display: swap !important;
  overflow-x: hidden !important;
}

.v-container {
  overflow: hidden !important;
}

.v-card {
  border: 2px #aaa solid !important;
  border-radius: 0.5rem !important;
}

a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #f22;
}

.title,
.v-card-title {
  word-break: normal !important;
  word-wrap: break-word;
}

.v-card-text {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-row {
  margin: -1rem !important;
}

.v-toolbar-title {
  margin-right: 2rem;
}

.v-image-image {
  background-size: contain;
}

.home-page-background {
  background-color: #333;
  color: white;
  text-shadow: #333 0 0 8px;
}

.home-page-background-gradient {
  background: linear-gradient(0deg, #333, #444, #333);
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Do not use overflow, this will result in weird behaviour */
  header {
    width: 100vw !important;
  }

  footer {
    width: 100vw !important;
  }

  body {
    width: 100vw !important;
  }

  .v-footer .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .v-toolbar > .v-toolbar__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .v-toolbar-title {
    margin-right: 0;
  }
}

/* Fade effect transition */
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.2s;
}

.fade-enter-active {
  transition-delay: 0.2s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
